window#osd {
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid rgba(#f8c537, 0.5);
    background-color: #1a1a2e;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    margin: 0 12px 12px 12px;

    #container {
        margin: 8px;
    }

    image,
    label {
        color: #ffd95e;
    }

    progressbar:disabled,
    image:disabled {
        opacity: 0.5;
    }

    progressbar {
        min-height: 8px;
        border-radius: 999px;
        background: rgba(255, 255, 255, 0.1);
        margin: 6px 0;

        trough {
            background: rgba(28, 22, 7, 0.8);
            border: none;
        }

        progress {
            background: linear-gradient(to right, #ffa45e, #dffe6e);
            box-shadow: 0 3px 6px rgba(248, 197, 55, 0.8);
        }
    }
}
