@define-color bg #1a1a1a;
@define-color surface #222222;
@define-color text #e0e0e0;
@define-color accent #007acc;
@define-color secondary_accent #66ccff;
@define-color tertiary_accent #9966cc;

* {
    all: unset;
    font-family: "SFMono Nerd Font", "Iosevka Custom Extended", "SF Pro Display", "Dank Mono", "Material Design Icons";
    font-size: 16px;
    min-height: 24px;
}

window#waybar {
    background: transparent;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

#workspaces button {
    padding: 0 20px;
    color: @text;
    transition: all 0.3s ease;
    min-width: 16px;
    min-height: 28px;
    border: none;
    background: transparent;
    font-weight: bold;
    border-radius: 12px;
}

#workspaces button.focused {
    color: @surface;
    background: @accent;
    border-radius: 12px;
    min-width: 32px;
    min-height: 28px;
    font-weight: bold;
}

#workspaces button.urgent {
    color: @accent;
    animation: urgent-blink 1s infinite;
}

@keyframes focus-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@keyframes urgent-blink {
    0% {
        color: @accent;
    }
    50% {
        color: @text;
    }
    100% {
        color: @accent;
    }
}

.module {
    margin: 6px;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid @accent;
    background: @surface;
}

#idle_inhibitor {
    min-width: 30px;
}

#window {
    color: #ffffff;
    background: @surface;
    font-weight: bold;
    min-width: 400px;
    border-radius: 8px;
    border: 2px solid @accent;
    padding: 0 12px;
    margin: 4px 6px;
}

.module:hover {
    background: @bg;
    border-bottom: 1px solid @accent;
}

#clock {
    color: @secondary_accent;
    font-weight: bold;
}

#battery {
    font-size: 30px;
    color: @secondary_accent;
}

#cpu.critical,
#memory.critical,
#temperature.critical {
    color: @accent;
}

#network {
    color: @secondary_accent;
    font-size: 30px;
}

#pulseaudio {
    color: @tertiary_accent;
}

#custom-power {
    font-size: 30px;
    color: @accent;
}

tooltip {
    background: @bg;
    border: 2px solid @surface;
    /* border-radius: 8px; */
    padding: 8px;
}

#bluetooth {
    color: @accent;
    background: @surface;
    border-radius: 12px;
    transition: background 0.3s;
    font-weight: bold;
    padding: 0 12px;
}

#bluetooth.on {
    background: @accent;
    color: @surface;
}

#bluetooth.connected {
    background: @accent;
    color: @surface;
}

#network,
#bluetooth,
#pulseaudio,
#battery,
#temperature,
#custom-power,
#clock {
    font-size: 20px;
    min-width: 32px;
    padding: 0 6px;
}
